* {
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}

section {
  padding: 1px;
}
img {
  width: 100%;
}
.abs {
  position: absolute;
  bottom: 150px;
  left: 150px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button {
  position: relative;
  top: 4rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px black;
  text-decoration: none;

  padding: 0.5rem;
  background-color: rgb(1, 51, 1);
  color: white;
}
#button:hover {
  color: black;
  background-color: #45a049;
}
.head {
  font-size: 8em;
  text-shadow: 5px 5px 5px black;
  font-family: cursive;
}
.pos {
  font-size: 4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 2px 2px 2px black;
  font-family: cursive;
}
.carousel-alter {
  width: 100%;
  max-height: 100vh;
}
header {
  background-color: white;
  width: 100%;
  max-height: 15vh;
  display: flex;
  margin: auto;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

header {
  display: flex;
  background-color: black;
}

header a.logo {
  flex: 2;
  text-decoration: none;
  color: black;
  text-align: center;
  position: relative;
  bottom: 12px;
  font-size: 3rem;
  color: white;
}

header a.logo:hover {
  transition: font-size 3s;
  transform: translatey(-3px);
  font-size: 1rem;
  color: white;
  padding: 1px;
}
ul {
  list-style-type: none;

  flex: 4;
  display: flex;
  background-color: black;
}
ul li {
  flex: 1;
}

ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 20px 50px;
}

ul li a:hover {
  border: 2px solid black;
  border-radius: 20px;
  background-color: wheat;
  color: black;
}
.hidbtn {
  color: white;
  flex: 1;
  text-align: center;
  display: none;
}
.hidmenu {
  position: sticky;
  top: 60px;
  width: 200px;
  height: 0px;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: none;
  overflow: hidden;
}
.hidmenu.open {
  height: 200px;
}
.hidmenu li {
  list-style: none;
}
.hidmenu li a {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 0, 0, 0.5);
}
.hidmenu li a:hover {
  background-color: blanchedalmond;
  color: black;
  border-radius: 10px;
}

.container_about {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;

  color: black;
}
.alter_about {
  margin: auto;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 1.3rem;
}
h1 {
  text-align: center;
  font-family: cursive;
}
#menu_logo,
#reservation_logo {
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  font-size: 5rem;
  font-family: cursive;
}

#menu_title {
  text-align: center;
  font-size: 3rem;
  font-family: cursive;
}

#menupage {
  color: rgb(1, 34, 1);

  width: 100%;
  min-height: 100vh;
  background-image: url("./images/chunks-594496_1280.jpg");
  padding-bottom: 20px;
  background-size: cover;
}
.row1,
.row2 {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 30%;
  padding: 20px;
}

th {
  font-size: 1.5rem;
  font-family: cursive;
  text-align: center !important;
  text-decoration: underline;
}
tr {
  text-shadow: 1px 1px 1px rgb(117, 172, 35);
  font-weight: bold;
  padding: 10px;
}
tr:hover {
  background-color: wheat;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.3rem;
}
#form_title,
#contact_title {
  margin-top: 50px;

  font-size: 1.5rem;
  font-family: cursive;
}
#form_title {
  text-align: center;
}
.column1,
.column2 {
  flex: 50%;
  padding: 20px;
}
input,
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
}

.button1 {
  width: 100%;
  background-color: rgb(1, 51, 1);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.button1:hover {
  background-color: #45a049;
}

.adr {
  font-size: 1.3em;
  padding-top: 20px;
}
#reservation {
  width: 100%;
  min-height: 100vh;
  background-color: #6ab187;
  background: url("./images/form.webp");
  color: white;
}
.contact_text {
  color: black;
}
#copyright {
  padding-top: 5rem;
  background-color: black;
  color: white;
  width: 100%;
  min-height: 50vh;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}
#icon {
  font-size: 3rem;
}
#icon a {
  text-decoration: none;
  color: white;
}
#gototop {
  color: white;
}
@media (max-width: 1900px) {
  header a.logo {
    /* flex: 2; */

    position: relative;
    bottom: 12px;
    font-size: 2.5rem;
  }
  header a.logo:hover {
    transition: font-size 3s;
    transform: translatey(-3px);
    font-size: 2.7rem;

    padding: 1px;
  }
  ul li a {
    padding: 15px 20px;
  }
}

@media (max-width: 1400px) {
  header a.logo {
    position: relative;
    bottom: 12px;
    font-size: 2.5rem;
  }

  header a.logo:hover {
    transition: font-size 3s;
    transform: translatey(-3px);
    font-size: 2.7rem;

    padding: 1px;
  }

  ul li a {
    padding: 15px 30px;
  }

  .alter_about {
    font-size: 1.1rem;
  }
  .abs {
    position: absolute;
    bottom: 400px;
    left: 200px;
  }
  .carousel-alert {
    width: 100%;
    height: 100vh;
  }
  .head {
    font-size: 6em;
  }
  .pos {
    font-size: 3em;
  }

  .column {
    flex: 30%;
  }
  .column1 {
    flex: 50%;
    padding: 20px;
  }
  #copyright {
    font-size: 1.3rem;
  }
  #icon {
    font-size: 2.5rem;
  }
}
@media (max-width: 1200px) {
  header a.logo {
    flex: 2;

    position: relative;
    bottom: 7px;
    font-size: 2rem;
  }
  .abs {
    position: absolute;
    bottom: 500px;
    left: 200px;
  }

  header a.logo:hover {
    transition: font-size 3s;
    transform: translatey(-2px);
    font-size: 2.3rem;

    padding: 1px;
  }

  ul li a {
    padding: 12px 25px;
  }
}
@media (max-width: 1000px) {
  #button {
    position: relative;
    top: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;

    padding: 0.5rem;
    background-color: rgb(1, 51, 1);
    color: white;
  }

  header a.logo {
    position: relative;
    bottom: 4px;
    font-size: 1.9rem;
  }

  header a.logo:hover {
    transition: font-size 3s;
    transform: translatey(-1px);
    font-size: 2.1rem;

    padding: 1px;
  }

  ul li a {
    padding: 10px 20px;
  }

  ul li a:hover {
    border-radius: 18px;
  }
  .alter_about {
    font-size: 0.9rem;
  }
  .abs {
    position: absolute;
    bottom: 450px;
    left: 150px;
  }
  .carousel-alert {
    width: 100%;
    height: 100vw;
  }
  .head {
    font-size: 4em;
  }
  .pos {
    font-size: 2em;
  }

  .column {
    flex: 30%;
  }
  #menu_title,
  #reservation_logo {
    font-size: 2rem;
  }
  .column1 {
    flex: 50%;
  }

  #copyright {
    font-size: 1.1rem;
  }
  #icon {
    font-size: 2.1rem;
  }
  #icon a {
    text-decoration: none;
  }
}
@media (max-width: 900px) {
  .column1 {
    flex: 100%;
  }
}
@media (max-width: 800px) {
  .column {
    flex: 50%;
  }
  .column1 {
    flex: 100%;
  }
  /* header {
    display: flex;
    background-color: black;
  } */

  header a.logo {
    /* flex: 2; */

    position: relative;
    bottom: 4px;
    font-size: 1.3rem;
  }

  header a.logo:hover {
    transition: font-size 3s;
    transform: translatey(-1px);
    font-size: 1.5rem;

    padding: 1px;
  }
  .abs {
    position: absolute;
    bottom: 550px;
    left: 150px;
  }

  ul li a {
    padding: 10px 16px;
    font-size: 1rem;
  }

  ul li a:hover {
    border-radius: 15px;
  }
}
@media (max-width: 700px) {
  #button {
    position: relative;
    top: 2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;

    padding: 0.5rem;
    background-color: rgb(1, 51, 1);
    color: white;
  }
  ul {
    display: none;
  }
  .hidbtn {
    display: inline;
  }
  .hidmenu {
    display: block;
  }

  header a.logo {
    position: relative;
    bottom: 4px;
    font-size: 1.3rem;
  }

  header a.logo:hover {
    transition: font-size 3s;
    transform: translatey(-1px);
    font-size: 1.5rem;

    padding: 1px;
  }

  .alter_about {
    font-size: 0.7rem;
  }
  .abs {
    position: absolute;
    bottom: 550px;
    left: 150px;
  }
  .head {
    font-size: 3em;
  }
  .pos {
    font-size: 1em;
  }

  .carousel-alert {
    width: 100%;
    height: 100vh;
  }
  .column {
    flex: 50%;
    padding: 20px;
  }
  #menu_title,
  #reservation_logo {
    font-size: 1.5rem;
  }
  .column1 {
    flex: 100%;
  }

  #copyright {
    font-size: 0.8rem;
  }
  #icon {
    font-size: 1.7rem;
  }
}
@media (max-width: 650px) {
  /* header {
    display: flex;
    background-color: black;
  } */
  .hidbtn {
    display: inline;
    font-size: 1rem;
  }
  .hidmenu {
    display: block;
    font-size: 1rem;
  }

  header a.logo {
    position: relative;
    bottom: 3px;
    font-size: 1rem;
  }

  header a.logo:hover {
    transition: font-size 3s;
    transform: translatey(-1px);
    font-size: 1.2rem;

    padding: 1px;
  }

  /* 
  ul li a {
    padding: 10px 10px;
    font-size: 0.8rem;
  }

  ul li a:hover {
    border-radius: 10px;
  } */
  .abs {
    position: absolute;
    bottom: 580px;
    left: 150px;
  }
}

@media (max-width: 500px) {
  #button {
    position: relative;
    top: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px black;
    text-decoration: none;
    font-size: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(1, 51, 1);
    color: white;
  }
  header {
    display: flex;
    background-color: black;
    flex-direction: column;
  }
  .hidbtn {
    display: inline;
    font-size: 1rem;
  }
  .hidmenu {
    display: block;
    font-size: 1rem;
  }

  header a.logo {
    position: relative;
    bottom: 3px;
    font-size: 1rem;
  }

  header a.logo:hover {
    transition: font-size 3s;
    transform: translatey(-1px);
    font-size: 1.2rem;

    padding: 1px;
  }

  .alter_about {
    font-size: 0.7rem;
  }

  .abs {
    position: absolute;
    bottom: 650px;

    left: 150px;
  }
  .hidbtn {
    display: inline;
    font-size: 1rem;
  }
  .hidmenu {
    display: block;
    font-size: 1rem;
  }
  .head {
    font-size: 1.5em;
  }
  .pos {
    font-size: 0.5em;
  }
  .carousel-alert {
    width: 100%;
    height: 100vh;
  }
  .column {
    flex: 100%;
    padding: 20px;
  }
  #menu_title,
  #reservation_logo {
    font-size: 1.2rem;
  }
  .column1 {
    flex: 100%;
  }
  #copyright {
    font-size: 0.8rem;
  }
  #icon {
    font-size: 1.5rem;
  }
}
